<main class="app-grid">
  <!-- Left column (1/5): Camera Settings -->
  <section class="panel">
      <div class="side-section-header">
        <span class="side-section-title">Vezérlőpult</span>
      </div>
      <app-motion-control></app-motion-control>

      <app-camera-control></app-camera-control>

      
      <app-error-popup-list></app-error-popup-list>
  </section>

  <!-- Middle column (3/5): Live view -->
  <section class="viewer">
    <app-image-viewer></app-image-viewer>
  </section>

  <!-- Right column (1/5): Controls -->
  <section class="controls-panel">
    <div class="side-panel">


        <div class="side-section-header">
          <span class="side-section-title">Auto measurement</span>
        </div>
        <app-auto-measurement></app-auto-measurement>



    </div>
  </section>
</main>