<div class="camera-settings-container">

  <!-- User Settings -->
  <section class="user-settings">
    <h3>Mentési Beállítások</h3>
    <table class="user-settings-table">
      <tbody>
        <!-- Top row: Objektív -->
        <tr>
          <td>Objektív</td>
          <td>
            <select [(ngModel)]="otherSettings['objective']" (change)="applyOtherSetting('objective')"
              class="styled-input" [disabled]="measurementActive">
              <option value="50x">50x</option>
              <option value="100x">100x</option>
            </select>
          </td>
        </tr>

        <!-- Second row: Közgyűrűk -->
        <tr>
          <td>Közgyűrűk</td>
          <td>
            <select [(ngModel)]="otherSettings['spacer_rings']" (change)="applyOtherSetting('spacer_rings')"
              class="styled-input" [disabled]="measurementActive">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
        </tr>

        <!-- Third row: Háttérlevonás -->
        <tr>
          <td>Háttérlevonás</td>
          <td>
            <input
              type="checkbox"
              class="styled-checkbox"
              [(ngModel)]="otherSettings['background_subtraction']"
              (change)="applyOtherSetting('background_subtraction')"
              [disabled]="measurementActive"
            />
          </td>
        </tr>

        <!-- Camera settings file (.pfs) -->


        <!-- Save location (folder for images) -->
        <tr>
          <td>Mentés helye</td>
          <td colspan="5" class="csv-dir-cell">
            <div class="csv-input-wrapper">

              <input type="text" class="styled-input dir-display" [(ngModel)]="otherSettings['save_location']"
                (blur)="applyOtherSetting('save_location')" [disabled]="measurementActive" readonly />

              <button type="button" (click)="openImageFolderBrowser()" [disabled]="measurementActive"
                class="csv-dir-btn">
                <mat-icon>folder </mat-icon>
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Divider -->
  <hr class="divider">

  <!-- Developer Settings -->
  <section class="developer-settings">
    <h3>Kamerabeállítások</h3>

    <table class="camera-settings-table">
      <tbody>
        <!-- Icons row -->
        <tr>
          <td></td>
          <td class="icon-cell"><img class="lamp-icon" src="assets/SVG/ringlight_off.svg" alt="Dome light" /></td>
          <td class="icon-cell"><img class="lamp-icon" src="assets/SVG/barlight_off.svg" alt="Bar light" /></td>
        </tr>

        <tr>
          <td>Záridő</td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.ExposureTime_Dome" (blur)="applySetting('ExposureTime_Dome')"
              [disabled]="!isConnected">
          </td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.ExposureTime_Bar" (blur)="applySetting('ExposureTime_Bar')"
              [disabled]="!isConnected">
          </td>
        </tr>

        <tr>
          <td>Erősítés</td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.Gain_Dome" (blur)="applySetting('Gain_Dome')"
              [disabled]="!isConnected">
          </td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.Gain_Bar" (blur)="applySetting('Gain_Bar')"
              [disabled]="!isConnected">
          </td>
        </tr>

        <tr>
          <td>Gamma</td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.Gamma_Dome" (blur)="applySetting('Gamma_Dome')"
              [disabled]="!isConnected">
          </td>
          <td>
            <input type="text" [(ngModel)]="cameraSettings.Gamma_Bar" (blur)="applySetting('Gamma_Bar')"
              [disabled]="!isConnected">
          </td>
        </tr>



        <tr>
          <td>Beállítás</td>
          <td colspan="2">
            <div class="csv-input-wrapper">


              <input type="text" class="styled-input dir-display" [(ngModel)]="otherSettings['camera_settings_file']"
                (blur)="applyOtherSetting('camera_settings_file')" [disabled]="measurementActive" readonly />

              <button class="settings-button" (click)="openCameraFileBrowser()" [disabled]="measurementActive">
                <mat-icon>save_settings</mat-icon>
              </button>

              <button class="settings-button" (click)="openCameraFileBrowser()" [disabled]="measurementActive">
                <mat-icon> folder </mat-icon>
              </button>

            </div>
          </td>
        </tr>




        <!-- Controls row spanning the whole width -->
        <tr>
          <td colspan="3">
            <div class="button-group">
              <button type="button" (click)="toggleConnection()"
                [ngClass]="{ 'connect-button': true, 'connected': isConnected }">
                <mat-icon *ngIf="isConnected; else connectIcon">link_off</mat-icon>
                <ng-template #connectIcon><mat-icon>link</mat-icon></ng-template>
              </button>

              <button type="button" (click)="toggleStream()"
                [ngClass]="{ 'stream-button': true, 'streaming': isStreaming }" [disabled]="!isConnected">
                <mat-icon *ngIf="isStreaming; else playIcon">stop</mat-icon>
                <ng-template #playIcon><mat-icon>play_arrow</mat-icon></ng-template>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>