<div class="image-viewer-container">
  <div class="top-bar">
    <div class="camera-name">
      Camera
      <span
        class="status-indicator"
        [ngClass]="{
          'disconnected': !sharedService.getCameraConnectionStatus(),
          'connected': sharedService.getCameraConnectionStatus() && !sharedService.getCameraStreamStatus(),
          'streaming': sharedService.getCameraStreamStatus()
        }">
      </span>
    </div>
  </div>

  <div class="live-view">


    <!-- Always keep the video host in DOM to avoid TS timing issues -->
    <div #videoContainer class="video-host" [class.hidden]="!sharedService.getCameraStreamStatus()"></div>
  </div>
</div>
